html,
body {
    overflow-x: hidden;
    width: 100%;
}
.filtro-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
  }
  
  /* Botón que solo se muestra en pantallas pequeñas */
  .filtro-boton-toggle {
    display: none;
  }
  
  /* Mostrar el botón en pantallas menores a 1225px */
  @media (max-width: 1225px) {
    .filtro-boton-toggle {
      display: block;
    }
    /* Ocultar el filtro en pantallas pequeñas cuando el botón está visible */
    .filtro-content {
      display: none;
    }
  }
  
  /* Mostrar el filtro directamente en pantallas grandes */
  @media (min-width: 1225px) {
    .filtro-content {
      display: block;
    }
  }
  