/* StyleProductPage.css */

.ordenPrecio {
    width: 100%; /* Ajusta este valor según el tamaño deseado */
  }
  
  .ordenar-precio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea el contenido a la derecha */
  }
  